body {
    background-color: #ff0000;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    background-color: #000;
    color: orange;
    font-size: 30px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
    border: solid 5px;
    border-radius: 30px;
}

.binary {
    font-size: 30spx;
    background-color: #000;
    color: pink;
    padding: 7px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    border: solid 4px;
}

.controls {
    position: relative;
    top: 25px;
}

.controls input {
    background-color: #ffa1d2;
}

button {
    background-color: #ffa1d2;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 30px;
    padding: 5px;
    width: 75px;
    transition: 1s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: #000000ac;
    color: #ffd700;
}



textarea {
    color:#ffd700;
    background: #000;
    padding: 20px;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    border: none;
    outline: none;
}

textarea:disabled {
    background-color: #b42727;
}

.hello {
    transform: translateY(50px);
    transition: 3s;
}

.comment-container {
    background-color: #2a2828;
    padding-top: 50px;
    padding-bottom: 100%;
}

.comment-container h2 {
    color: white;
}

.comment-container input {
    width: 54%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: #ffffffc0 solid 1px;
    color: white;
    outline: none;
    transition: 2s;
}

.comment-container input:focus {
    border-color: red;
}

.comment-container input::after {
    content: 'hello';
    background-color: red;
}

#textLocation {
    color: #ffffff;
    line-break: anywhere;
}