body {
    background-color: #ff0000;
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #000;
    color: orange;
    font-size: 30px;
    margin-right: 0 50px 0 50px;
    padding: 10px;
    border: solid 5px;
    border-radius: 30px;
}

.controls {
    position: relative;
    top: 25px;
}

.controls input {
    background-color: #ffa1d2;
}

button {
    background-color: #ffa1d2;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 30px;
    padding: 5px;
    width: 6vw;
    transition: 1s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: #000000ac;
    color: #ffd700;
}

textarea {
    color:#ffd700;
    background: #000;
    padding: 20px;
    width: 30vw;
    font-size: medium;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    border: none;
    outline: none;
}

textarea:disabled {
    background-color: #b42727;
}

footer {
    background: linear-gradient(40deg, #c3c2c2, #f2bf24);
    position: relative;
    padding: 1px 0 1px 0;
    top: 280px;
    width: 100%;
}

/* Responsive Web Design: Tablet View */
@media screen and (max-width: 650px) {
    
    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    h1 {
        font-size: 20px;
    }
    
    button {
        font-size: 17px;
        margin-bottom: 30px;
        width: 13vw;
    }
    
    textarea {
        padding-bottom: 300px;
        width: 70vw;
        font-size: 18px;
        border-radius: 10px;
    }
    
    footer {
        top: 200px;
    }
}

/* Phone View */
@media screen and (max-width: 560px) {
    
    button {
        font-size: 12px;
        margin-left: 10px;
    }
    
    textarea {
        padding-bottom: 100px;
        width: 50vw;
        font-size: 25px;
        border-radius: 10px;
    }
}